<p id="notice"><%= notice %></p>
<b> Attendee(s) Name :</b><br />
<p>
<table>
  <tr>
    <% @attendees.each do |attendee| %>
      <td> <%= attendee.name %></td>
    <% end %>
  </tr>
</table>
</p>
<%= link_to 'Back' , meetings_path %>

