<h1>Add Attendees</h1>

<%= form_tag(update_added_attendees_meeting_type_url(@meeting_type.id),:method=>'post') do %>
  <p>
    <b>Meeting Type:</b>
    <%= @meeting_type.name %>
  </p>
  <p>
    Select Attendees: <br />
    <%= select_tag 'attendees', options_for_select(@all_attendees) %>
  </p>
  <p>
    <%= submit_tag 'Submit' %>
  </p>

<% end %>


