<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h3 { color: #f00; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    Hi Team,<br/><br/>
    <div id="agenda" style="font-weight: bold;">Agenda for today's Ruby Sync-Up Call :</div><br/>
      <%= @agenda %>
    <br/><br/><br/>
    Please dial in the following numbers as per your location for ruby sync-up calls for February 2012.<br />
    <br/>
    Bridge details <br/>
    =================<br/>
    <br/>
    Client ID : 4717600<br/>
    <br/>
    Host Pin Code : 3587493736<br/>
    <br/>
    Participant Pin Code : 6442663854<br/>
    <br/>
    Dialin Numbers<br/>
    =================<br/>
    India, Ahmadabad<br/>
    +91 (0)79 6000 4263<br/>
    <br/>
    India, Bangalore<br/>
    +91 (0)80 6000 4263<br/>
    <br/>
    India, Bhubaneswar<br/>
    +91 (0)674 6000 426<br/>
    <br/>
    India, Chennai<br/>
    +91 (0)44 6101 1552<br/>
    <br/>
    India, Delhi<br/>
    +91 (0)11 6000 4263<br/>
    <br/>
    India, Goa<br/>
    +91 (0)832 6000 426<br/>
    <br/>
    India, Hyderabad -AP<br/>
    +91 (0)40 6000 4263<br/>
    <br/>
    India, Kochi<br/>
    +91 (0)484 6000 426<br/>
    <br/>
    India, Kolkata<br/>
    +91 (0)33 6000 4263<br/>
    <br/>
    India, Lucknow<br/>
    +91 (0)522 6000 426<br/>
    <br/>
    India, Mumbai<br/>
    +91 (0)22 6000 4263<br/>
    <br/>
    India, Nagpur -MH<br/>
    +91 (0)712 6000 426<br/>
    <br/>
    India, Pune -MH<br/>
    +91 (0)20 6000 4263<br/>
    <br/>
    International Locations/BSNL or MTNL Users<br/>
    0091-44-6101 1552 / 044 6101 1552<br/>
    <br/>
    Regards,<br/>
    Ekta<br/>

  </body>
</html>
