<div id="header">
  <div id="logo">
    <div id="logo_text">
      <h1>Ruby<span class="logo_colour">SyncUp</span></h1>
      <h2>Meetings Manager</h2>
    </div>
  </div>
  <div id="menubar">
    <ul id="menu">
      <li class="selected"><%= link_to 'Meetings',meetings_path %></li>
      <li><%= link_to 'Meeting Types',meeting_types_path %></li>
      <li><%= link_to 'Attendees',attendees_path %></li>
    </ul>
  </div>
</div>