<div id="header">
  <div id="logo">
    <div id="logo_text">
      <h1>Ruby<span class="logo_colour">SyncUp</span></h1>
      <h2>Meetings Manager</h2>
    </div>
  </div>
  <div id="menubar">
  </div>
</div>