<div id="header">
  <div id="logo">
    <div id="logo_text">
      <!-- class="logo_colour", allows you to change the colour of the text -->
      <h1><a href="index.html">Ruby<span class="logo_colour">SyncUp</span></a></h1>
      <h2>Meeting Manager</h2>
    </div>
  </div>
  <div id="menubar">
    <ul id="menu">
      <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
      <li class="selected"><a href="content.html">Home</a></li>
      <li><a href="content.html">Content</a></li>
      <li><a href="content.html">Meetings</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="content.html">Contact</a></li>
    </ul>
  </div>
</div>